body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* img {
  margin: 0 auto;
} */
/* ovverides default css for materail ui selected option preview in "Website Selector" */
.MuiInputBase-input {
  display: flex !important;
  justify-content: center !important;
}
/* app bar */
.appbar--toolbar {
  display: flex;
  justify-content: flex-start;
  overflow: auto !important;
}
.appbarr--left-container {
  display: flex;
  justify-self: center;
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: scroll;
}
.MuiAppBar-positionFixed {
  left: 0 !important;
  max-width: 100vw;
}

.appbar--logo {
  text-decoration: none;
  color: inherit;
}

.website-selector--wrapper {
  padding: 1rem 0;
}
.website-selector--image {
  margin: 0 auto;
}
/* dates */
.date-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.date-group--date-selector--error {
  background-color: red !important;
}
.date-group--date-selector-text {
  font-size: 1.5rem;
  text-align: center;
}
.date-selector--picker-wrapper {
  display: flex;
  justify-content: space-around;
}
.date-selector--single-picker-wrapper {
  margin: 0rem 3rem;
}
.slider--wrapper {
  margin-top: 2rem;
  max-width: 80vw;
}
.slider--button-wrapper {
  display: flex;
  margin-top: 2rem;
}
.slider--button {
  margin: 0 1rem !important;
}
/* HEADINGS */

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headings--tip {
  font-size: 2rem;
  margin: 2rem 1.2rem;
}
/* HEADING ROW */

.headings-row-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headings--date {
  font-size: 2rem;
  margin: 3rem 0 3rem 0;
}
.headings--inner-container {
  display: flex;
  justify-content: center;
  width: 90vw;
}
/* headings daily list */

.headings--list {
  max-height: 45rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  margin: 1rem 1.25rem;
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}

.headings--list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.heading--logo-image-wrapper {
  height: 5rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
}
.heading--logo-image {
  margin: 0 auto;
}
.headings--list-item {
  padding: 1rem 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.headings--link {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.screenshots {
  width: 90vw !important;
}
.headings--image {
  justify-self: center;
  width: auto;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
}
.headings--text {
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 25rem;
}

.screenshots--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-basis:1;
  padding: 1rem 0;
}

.screenshots--image-container {
  position: relative;
  height: 20rem;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.screenshots--image {
  width: 80%;
  max-width: 800px;
  position: absolute;
}

.screenshots--logo-image {
  margin: 0 auto;
  height: 60px;
}
/* 1000 px == 62.5 rem */

/* full screenclases */
.fullscreen {
  position: fixed;
  width: 100vw;
  background-color: rgba(48, 48, 48, 0.5);
  height: 100vh;
  /* defualt material ui header z-index is 1000 */
  z-index: 1200;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  overscroll-behavior: contain;
}

.fullscreen:hover {
  cursor: pointer;
}

.fullscreen--wrrapper {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: min(90vw, 1440px);
  height: fit-content;
}
.fullscreen--image {
  margin: 2rem auto;
  width: calc(100%);
  /* height: 0re  m; */
}
.fullscreen--close-icon {
  position: absolute;
  right: 0;
  font-size: 4rem !important;
  padding: 2rem 3.5rem 2rem 2rem;
}
/* GRID */
.words--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 1600px;
  margin: 0 auto;
}

.words--popularity-container {
  width: 100%;
  margin-bottom: 2rem;
}
.words--slider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 80%;
  margin: 3rem auto;
}
.words--slider-text {
  text-align: center;
  font-size: 1.75rem;
  margin: 0 auto 1rem;
}
.words--compare-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.recharts-responsive-container {
  margin-bottom: 3rem;
}
.words--compare-input-wrapper {
  margin: 0 auto 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.words--compare-text {
  text-align: center;
  font-size: 1.75rem;
}

/* general */
.show-more-button {
  margin: 5rem !important;
  width: fit-content;
}
@media screen and (max-width: 62.5rem) {
  .screenshots {
    flex-direction: column !important;
  }
  .screenshots--wrapper {
    width: 100%;
    padding: 2rem 0;
  }
  .screenshots--image-container {
    margin-top: 2rem;
  }
  .headings--inner-container {
    flex-direction: column;
  }
  .headings--list {
    max-width: 100%;
    height: 27rem;
  }
}

.bigText {
  
}

@media screen and (max-width: 37.5rem) {
  .bigText {
  }

  .appbar--toolbar {
    flex-direction: column;
  }
  .appbar--logo {
    padding: 0.5rem;
  }
  .website-selector--wrapper {
    padding-top: 3rem;
    
  }
  .date-selector--picker-wrapper {
    flex-direction: column;
  }
  .date-selector--single-picker-wrapper {
    margin: 0rem 3rem;
  }
}

/* helpers*/
.hide {
  display: none;
}
.hide2 {
  visibility: hidden;
}
.hideOverflowY {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hideOverflowY::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.date-text {
}
